extends _template.pug

block header
  header#header
    .header.wrap
      a(href="#").header-logo
        h1 Думай вместе
        p С Ириной Кулиш
      .navigation
        a(href="#").menu-link
          span
        .menu
          ul.nav
            +navigation__item("#", "Главная")
            +navigation__item("#", "Блог")
            +navigation__item("#", "Расписание")
            +navigation__item("#", "Отзывы")
            +navigation__item("#", "Об авторе")
      .search-and-language
        form(action="get")
          .search
            label(for="")
            input(type="search" placeholder="Например аутизм")
            a(href="#") Ру

