extends _template.pug

block header
  header#header
    .header.wrap
      a(href="#").header-logo
        h1 Думай вместе
        p С Ириной Кулиш
      .navigation
        a(href="#").menu-link
          span
        .menu
          ul.nav
            +navigation__item("index.html", "Главная")
            +navigation__item("article.html", "Блог")
            +navigation__item("schedule.html", "Расписание")
            +navigation__item("testimonials.html", "Отзывы")
            +navigation__item("about.html", "Об авторе")
      .search-and-language
        form(action="get")
          .search
            label(for="")
            input(type="search" placeholder="Например аутизм")
            a(href="#") Ру

