extends _template.pug

block header
  header#header
    .header.wrap
      a(href="#").header-logo
        h1 Думай вместе
        p С Ириной Кулиш
      .navigation
        a(href="#").menu-link
          span
        .menu
          nav
            +navigation__item("#", "Главная")
            +navigation__item("#", "Блог")
            +navigation__item("#", "Расписание")
            +navigation__item("#", "Отзывы")
            +navigation__item("#", "Об авторе")
      .search-and-language
        form(action="get")
          .search
            label(for="")
            input(type="search" placeholder="Например аутизм")
            a(href="#") Ру
block content
  main#content
    .content.wrap
      .briefly-more
        .more
          h2 Аутизм и аутоподобные состояния. Размышления о случаях из практики
          p Меня зовут 
            a(href="#") Ирина Кулиш. 
            | Моя специальность по диплому практический психолог. Аутизм — это не просто
            | «слово на букву А». 25 лет работы с аутичными детьми и их родителями — это 25 лет моей жизни.
          a(href="#").more-link Узнать подробнее 
        img(src="img/Irina-Koolish.jpg", alt="Фото: Ирина Кулиш").photo
      .online-course
        .online-course__description
          h2 Регистрируйтесь на онлайн-курс «Аутизм и аутоподобные состояния»
          .online-course__description-more
            .date
              p 4-7 мая
              span 12 лекций по 1,5 часа
            p Курс для родителей аутичных детей и психологов, начинающих работу с аутичными детьми. 
              | Продолжу рассказ об особенностях речи Никиты. Безглагольность — 
              | это не просто его речевое своеобразие, это отражение сути 
              | его мировосприятия.
        form(action="get").online-course__form-entry
          .name
            input(type="text" placeholder="ФИО")
            p уже идут
              span 1124
              | человек
          .submit
            input(type="number" placeholder="Ваш телефон")
            input(type="text" placeholder="Ваш электронный адрес")
            input(type="button" value="Записаться").button

