extends _include/_header.pug
block link
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/about.css")

block content
  main#content.wrap
    .content
      h1.title Об авторе
      .about-block
        .about-block__author
          img(src="img/Irina-Koolish-about.jpg", alt="Author")
          .share
            h4 Поделитесь с друзьями:
            a(href="#")
        .about-block__text
          p Моя специальность по диплому («практический психолог») очень быстро сузилась и 
            | уточнилась таким образом, что в поле интереса вошло все, имеющее отношение к аутизму.
          p Для меня аутизм - это не просто «слово на букву А». 25 лет работы с аутичными 
            | детьми и их родителями — это 25 лет моей жизни. С кем-то пересеклись ненадолго, 
            | а кто-то надолго и всерьёз стал частью моей жизни, кого-то судьба разбросала по 
            | свету, но связи поддерживаем.
          P Когда в течение столь длительного срока ты не только проводишь занятия и консультируешь,
            | а на твоих глазах разворачиваются судьбы детей и их семей, в памяти остаётся огромное 
            | количество невыдуманных историй. Сейчас я не имею возможности охватить занятиями и 
            | консультациями всех желающих.
          p Но все, что я буду выкладывать, прожито и описано мною, все это случаи из моей практики.
          p Возможно, этот проект поможет родителям других РАСнообразных детей и специалистам, работающим 
            | в этой сфере, что-то понять, представить, почувствовать, ведь «теория без практики мертва, 
            | но вечно зеленеет жизни древо». Я очень на это надеюсь.
    .sidebar
      +subscribe