extends _include/_header.pug
block link
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/blog.css")

block content
  main#content.wrap
    .content
      h1.title Блог
      article.double-table
        .column
          +theme-blog("Заметки из практики. Развитие речи", "Счастье внутри", "4 мая ", "2018", "40", "100", "img/blog/blog_1.jpg", "Photo", "Незадолго до того дня, как была сделана первая публикация в блоге, который вы сейчас читаете, я все ещё совершенно не была уверена в том, что он будет интересен читателям.", "#")
          +theme-blog("Заметки из практики. Развитие речи", "Счастье внутри", "2 мая ", "2018", " 132", " 211", "img/blog/blog_3.jpg", "Photo", "Незадолго до того дня, как была сделана первая публикация в блоге, который вы сейчас читаете, я все ещё совершенно не была уверена в том, что он будет интересен читателям.", "#")
          +theme-blog("Заметки из практики. Развитие речи", "Счастье внутри", "22 Апреля ", "2018", " 100", " 111", "img/blog/blog_5.jpg", "Photo", "Незадолго до того дня, как была сделана первая публикация в блоге, который вы сейчас читаете, я все ещё совершенно не была уверена в том, что он будет интересен читателям.", "#")
          +theme-blog("Заметки из практики. Развитие речи", "О спасительной роли творчества на пути к счастью", "28 апреля", "2018", " 132", " 211", "img/blog/blog_7.jpg", "Photo", "Незадолго до того дня, как была сделана первая публикация в блоге, который вы сейчас читаете, я все ещё совершенно не была уверена в том, что он будет интересен читателям.", "#")
        .column
          +theme-blog("Развитие навыков", "О спасительной роли творчества на пути к счастью", "3 мая", "2018", "40", "100", "img/blog/blog_2.jpg", "Photo", "Незадолго до того дня, как была сделана первая публикация в блоге, который вы сейчас читаете, я все ещё совершенно не была уверена в том, что он будет интересен читателям.", "#")
          +theme-blog("Аутизм в мире", "О спасительной роли творчества на пути к счастью", "4 мая", "2018", "40", "100", "img/blog/blog_4.jpg", "Photo", "Незадолго до того дня, как была сделана первая публикация в блоге, который вы сейчас читаете, я все ещё совершенно не была уверена в том, что он будет интересен читателям.", "#")
          +theme-blog("Отношения в семье. Ребенок в коллективе. Методы7 методики, подходы", "О спасительной роли творчества на пути к счастью", "29 апреля", "2018", "40", "100", "img/blog/blog_6.jpg", "Photo", "Незадолго до того дня, как была сделана первая публикация в блоге, который вы сейчас читаете, я все ещё совершенно не была уверена в том, что он будет интересен читателям.", "#")
          +theme-blog("Заметки из практики. Развитие речи", "Счастье внутри", "27 апреля", "2018", "40", "100", "img/blog/blog_8.jpg", "Photo", "Незадолго до того дня, как была сделана первая публикация в блоге, который вы сейчас читаете, я все ещё совершенно не была уверена в том, что он будет интересен читателям.", "#")
      +online-course
    .sidebar
      +author
      +subscribe
      .category
        h4 Рубрики
        ul.category
          +category__item("#", "Заметки из практики")
          +category__item("#", "Развитие речи")
          +category__item("#", "Развитие навыков")
          +category__item("#", "Общение с ребенком")
          +category__item("#", "Ребенок в коллективе")
          +category__item("#", "Отношения в семье")
          +category__item("#", "Методы, методики, подходы")
          +category__item("#", "Аутизм в мире")
      .min-article
        h4 Популярные статьи
        +min-article("#", "img/article_event/article_min_1.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_2.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_3.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_4.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_5.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        a(href="#").button Читать блог