extends _include/_header.pug

block content
  main#content.wrap
    .content
      // About irina
      .briefly-more
        .more
          h2 Аутизм и аутоподобные состояния. Размышления о случаях из практики
          p Меня зовут 
            a(href="#") Ирина Кулиш. 
            | Моя специальность по диплому практический психолог. Аутизм — это не просто
            | «слово на букву А». 25 лет работы с аутичными детьми и их родителями — это 25 лет моей жизни.
          a(href="#").more-link Узнать подробнее 
        img(src="img/Irina-Koolish.jpg", alt="Фото: Ирина Кулиш").photo
      block online-course
        // Online-course-enroll
        +online-course
      // Article's
      article.new-articles
        h3 Свежие статьи
        .new-articles__all
          .new-articles__block
            img(src="../img/article_event/article_1.png", alt="Новость")
            h5 Безглагольность как способ мировосприятия
            p Продолжу рассказ об особенностях речи Никиты. Безглагольность — 
              | это не просто его речевое своеобразие, это отражение сути его мировосприятия.
            a(href="#").more-link Читать
            .comment-like
              .comment 46
              .like 107
          .new-articles__block
            img(src="../img/article_event/article_2.png", alt="Новость")
            h5 Не хочу быть призовой лошадью
            p Продолжу рассказ об особенностях речи Никиты. Безглагольность — это не просто 
              | его речевоесвоеобразие, это отражение сути его мировосприятия.
            a(href="#").more-link Читать
            .comment-like
              .comment 46
              .like 107
          .new-articles__block
            img(src="../img/article_event/article_3.png", alt="Новость")
            h5 У него нет второго шанса на первое впечатление
            p Продолжу рассказ об особенностях речи Никиты. Безглагольность — это не просто 
              | его речевое своеобразие, это отражение сути его мировосприятия.
            a(href="#").more-link Читать
            .comment-like
              .comment 46
              .like 107
        a(href="#").button Читать блог
      // Event's
      article.near-event
        h3 Ближайщие события
        +near-event("../img/article_event/event_1.png", "Событие", "4-7 мая", "12 лекций по 1,5 часа", "Онлайн", "Курс", "Как помочь ребенку справиться со страхами", "Курс для родителей аутичных детей и психологов, начинающих работу с аутичными детьми. Продолжу рассказ об особенностях речи Никиты. Безглагольность — это не просто его речевое своеобразие.", "course/course.html")
        +near-event("../img/article_event/article_2.png", "Вебинар", "4-7 мая", "12 лекций по 1,5 часа", "Онлайн", "Курс", "Как помочь ребенку справиться со страхами", "Курс для родителей аутичных детей и психологов, начинающих работу с аутичными детьми. Продолжу рассказ об особенностях речи Никиты. Безглагольность — это не просто его речевое своеобразие.", "#")
        a(href="#").button Смотреть раписание
    // Subscribe-category
    .sidebar
      +subscribe
      .category
        h4 Рубрики
        ul.category
          +category__item("#", "Заметки из практики")
          +category__item("#", "Развитие речи")
          +category__item("#", "Развитие навыков")
          +category__item("#", "Общение с ребенком")
          +category__item("#", "Ребенок в коллективе")
          +category__item("#", "Отношения в семье")
          +category__item("#", "Методы, методики, подходы")
          +category__item("#", "Аутизм в мире")
      .min-article
        h4 Популярные статьи
        +min-article("#", "img/article_event/article_min_1.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_2.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_3.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_4.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_5.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        a(href="#").button Читать блог
      .community