extends _include/_header.pug
block link
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/schedule.css")

block content
  main#content.wrap
    .content
      h1.title Расписание
      article.shedule
      +online-course
      .near-event
        +near-event("img/article_event/event_1.png", "", "10 мая", "12 лекций по 1,5 часа", "Онлайн", "Курс", "Как помочь ребенку справиться со страхами", "Курс для родителей аутичных детей и психологов, начинающих работу с аутичными детьми. Продолжу рассказ об особенностях речи Никиты. Безглагольность — это не просто его речевое своеобразие.", "#")
        +near-event("img/blog/blog_2.jpg", "", "10 мая", "12 лекций по 1,5 часа", "Онлайн", "Вебинар", "Как найти общий язык с ребенком", "Курс для родителей аутичных детей и психологов, начинающих работу с аутичными детьми. Продолжу рассказ об особенностях речи Никиты. Безглагольность — это не просто его речевое своеобразие.", "#")
        +near-event("img/blog/blog_3.jpg", "", "10 мая", "12 лекций по 1,5 часа", "Онлайн", "Вебинар", "Как помочь ребенку справиться со страхами", "Курс для родителей аутичных детей и психологов, начинающих работу с аутичными детьми. Продолжу рассказ об особенностях речи Никиты. Безглагольность — это не просто его речевое своеобразие.", "#")
        +near-event("img/blog/blog_4.jpg", "", "10 мая", "12 лекций по 1,5 часа", "Онлайн", "Вебинар", "Как найти общий язык с ребенком", "Курс для родителей аутичных детей и психологов, начинающих работу с аутичными детьми. Продолжу рассказ об особенностях речи Никиты. Безглагольность — это не просто его речевое своеобразие.", "#")
        +near-event("img/blog/blog_5.jpg", "", "10 мая", "12 лекций по 1,5 часа", "Онлайн", "Курс", "Как помочь ребенку справиться со страхами", "Курс для родителей аутичных детей и психологов, начинающих работу с аутичными детьми. Продолжу рассказ об особенностях речи Никиты. Безглагольность — это не просто его речевое своеобразие.", "#", "мы сообщим вам дату начала курса")
        +near-event("img/blog/blog_6.jpg", "", "10 мая", "12 лекций по 1,5 часа", "Онлайн", "Курс", "Как найти общий язык с ребенком", "Курс для родителей аутичных детей и психологов, начинающих работу с аутичными детьми. Продолжу рассказ об особенностях речи Никиты. Безглагольность — это не просто его речевое своеобразие.", "#", "мы сообщим вам дату начала курса")
    .sidebar
      +author
      +subscribe
      .category
        h4 Рубрики
        ul.category
          +category__item("#", "Заметки из практики")
          +category__item("#", "Развитие речи")
          +category__item("#", "Развитие навыков")
          +category__item("#", "Общение с ребенком")
          +category__item("#", "Ребенок в коллективе")
          +category__item("#", "Отношения в семье")
          +category__item("#", "Методы, методики, подходы")
          +category__item("#", "Аутизм в мире")
      .min-article
        h4 Популярные статьи
        +min-article("#", "img/article_event/article_min_1.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_2.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_3.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_4.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_5.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        a(href="#").button Читать блог