extends _include/_header.pug
block link
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/testimonials.css")

block content
  main#content.wrap
    .content
      .title-comments
        h1.title Отзывы
        .write-comment
          p 6 отзывов
          a(href="#") Написать отзыв
      article.double-table
        .column
          +comment("img/comment_photo/photo_1.jpg", "Люблю Семец", "«Спасибо за те результаты,которых дистиг мой внук Костик...»", "12 мая 2018", "Ирина Ивановна,безмерно благодарна вам за ваш титанический труд с особенными детками, за результаты, которых дистиг мой внук Костик. Низкий вам поклон, крепкого здоровья, такие специалисты не должны оставаться в тени, их все должны знать в лицо, вы человек от Бога....")
          +comment("img/comment_photo/photo_2.jpg", "Оксана", "«Большое спасибо что научили как вести себя и работать с Валентином..»", "12 мая 2018", "Ирина Ивановна я очень благодарна вам за вашу работу и за то что жизнь в свое время, ух так ведь 10 лет без малого, Валентину было 3,5 годика, когда мы с Валентином пришли к вам. Большое спасибо что выслушиваете, советуете и поддерживаете, когда уже невмоготу. Большое спасибо что научили как вести себя и работать с Валентином.")
          +comment("img/comment_photo/photo_3.jpg", "Елизавета Бренкова", "«Благодаря Вам наша семья осталась целостной...»", "12 мая 2018", "Благодарю Вас за то, что Судьба вас подарила нашей семье в самый тяжелый период для нас! Благодарю вас, за то, что благодаря вам, наша семья осталась целостной ( и не один раз!) Благодарим, что умеете слово превратить в лекарство...")
        .column
          +comment("img/comment_photo/photo_4.jpg", "Ирина Двирная", "«Благодаря Вам мы общаемся с нашим маленьким чудом...»", "12 мая 2018", "Ирина Ивановна, и я хочу сказать вам огромное спасибо!!! Ваша помощь неоценима! Благодаря вам, мы общаемся с нашим маленьким чудом — Тимошкой, и существует наша семья. Спасибо за то, что избавили меня от тяжелой депрессии и дали толчок к саморазвитию. Я открыла творческую мастерскую. Вы мой Ангел-хранитель! Не бывает и дня, когда бы я не воспользовалась вашими советами в решении жизненных проблем. Всем родителям советую прочитать ваши статьи. Ведь в каждой из них огромный опыт и практические примеры как правильно развивать малыша. Могу с уверенностью сказать, что такого высокого уровня специалисты встречаются очень редко. А нам повезло, что в нашей жизни есть вы. Спасибо, за доброе сердце!")
          +comment("img/comment_photo/photo_5.jpg", "Асель Мукаметжан", "«После вашего текста и комментариев людей, которым вы помогли, вы мне понравились еще больше...»", "12 мая 2018", "Ирина Ивановна, я очень рада, что случайно увидела эту группу, я первый раз вижу вас и ваше имя, но вы мне понравились уже по фото, а после вашего текста и комментарий людей, которым вы помогли еще больше! Удачи и успехов нам всем!")
          +comment("img/comment_photo/photo_6.jpg", "Мария Кутуева", "«Ирина Ивановна научила чувствовать и принимать моего ребенка...»", "12 мая 2018", "Я мама уже 15 летнего парня,Александра, которого когда-то тоже привела к Ирине Ивановне. Благодарю за то, что написали такие истории! Двоих родителей и детей знаю лично. И хочу сказать- у каждого своя история, свой путь к счастью и покою, если в семье рождается ребенок с особенностями... Порой кажется выхода нет из сложившейся ситуации, но выход в принятии, ежедневной работе и маме самой прежде всего учиться понимать и чувствовать своего ребенка, ежедневный труд во многих аспектах. ")
      +online-course
    .sidebar
      +author
      +subscribe
      .category
        h4 Рубрики
        ul.category
          +category__item("#", "Заметки из практики")
          +category__item("#", "Развитие речи")
          +category__item("#", "Развитие навыков")
          +category__item("#", "Общение с ребенком")
          +category__item("#", "Ребенок в коллективе")
          +category__item("#", "Отношения в семье")
          +category__item("#", "Методы, методики, подходы")
          +category__item("#", "Аутизм в мире")
      .min-article
        h4 Популярные статьи
        +min-article("#", "img/article_event/article_min_1.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_2.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_3.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_4.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        +min-article("#", "img/article_event/article_min_5.png", "Статья", "Не хочу быть призовой лошадью", "46", "107")
        a(href="#").button Читать блог