#header
  margin-bottom: 5px

.header
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: 5px 5px 8px
  border-bottom: 1px solid #dadada

.header-logo
  display: block
  min-width: 230px
  color: black
  h1
    font-family: Gilroy-ExtraBold
  p
    font-family: SavoyeLetPlain

.navigation
  display: flex
  justify-content: center
  text-align: center
  .menu-link
    display: block
    width: 50px
    height: 50px
    margin: 0 auto
    background: #fff
    border-radius: 50%
    box-shadow: 1px 1px 10px rgba(0, 0, 0,.4)
    position: fixed
    top: 10px
    right: 10px
    z-index: 999
    span,
    span:before,
    span:after
      display: block
      height: 2px
      width: 18px
      margin-top: -1px
      margin-left: -9px
      background-color: #333
      position: absolute
      top: 50%
      left: 50%
    span:before,
    span:after
      content: ''
      transition: all 0.2s linear
    span:before
      margin-top: -6px
    span:after
      margin-top: 4px
    &__active
      span
        background: transparent
      span:before
        transform: rotate(135deg)
        margin-top: 0
      span:after
        transform: rotate(-135deg)
        margin-top: 0
  .menu
    display: flex
    justify-content: center
    flex-direction: column
    width: 100vw
    height: 100vh
    background: rgba(115, 149, 165, 0.9)
    line-height: 4
    font-weight: 100
    transition: all .5s
    position: fixed
    top: -100vh
    left: 0
    right: 0
    z-index: 998
    &-active
      top: 0
    a
      display: block
      color: white
      transition: all .3s linear
      &:hover
        width: 100vw
        background: rgba(255, 255, 255, .4)

.search
  min-width: 230px
  margin-top: 5px
  position: relative
  label:after
      right: 40px
      top: 10px
  a
    margin-left: 10px

@media screen and (min-width: 375px)
  .header
    align-items: center

@media screen and (min-width: 640px)
  .header
    flex-direction: unset
    width: 100%

@media screen and (min-width: 1024px)
  .header
    justify-content: space-between
    padding: 15px 5px

  .navigation
    .menu-link
      display: none
    .menu
      width: 100%
      height: auto
      background: white
      line-height: 2
      position: unset
      left: 0
      a
        padding: 0 10px
        border-radius: 5px
        color: black
        &:hover
          width: 100%
          background: #f4f8f9
          color: #5c8699
    .nav
      display: flex
      justify-content: space-around
      min-width: 500px