.theme-blog
	width: 100%
	margin-bottom: 20px
	display: inline-block
	color: black
	span
		font-size: .9rem
		color: grey
	h3
		padding: 5px 0 10px
	img
		width: inherit
		height: 320px
	p
		margin: 10px 0 0
	&__date-like
		display: flex
		justify-content: space-between
		margin-bottom: 10px
	.comment-like
		margin: 0
	.more-link
		max-width: 50px

@media screen and (min-width: 860px)
	.theme-blog
		margin-bottom: 30px
		.more-link
			max-width: 60px