@font-face
  font-family: Gilroy-ExtraBold
  src: url("../fonts/Gilroy-ExtraBold.otf")

@font-face
  font-family: SavoyeLetPlain
  src: url("../fonts/SavoyeLetPlain.ttf")

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font: 16px Tahoma

body
  padding: 0 5px;
  list-style: none

a
  text-decoration: none
  
@import "_header.sass"
@import "_main.sass"
@import "_footer.sass"