@font-face
  font-family: Gilroy-ExtraBold
  src: url("../fonts/Gilroy-ExtraBold.otf")

@font-face
  font-family: SavoyeLetPlain
  src: url("../fonts/SavoyeLetPlain.ttf")

@font-face
  font-family: AnselmSansLight
  src: url("../fonts/AnselmSansLight.otf")

@font-face
  font-family: Cochin-Regular
  src: url("../fonts/Cochin-Regular.ttf")

@font-face
  font-family: MyriadPro-Regular
  src: url("../fonts/MyriadPro-Regular.otf")

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font: 16px Tahoma

body
  min-height: 100vh
  list-style: none
  overflow-x: hidden
  position: relative

ul
  list-style: none

p, a
  font-family: Cochin-Regular
  line-height: 1.5

a
  text-decoration: none

h1
  font-size: 2rem
h2
  font-size: 1.8rem
h3
  font-size: 1.3rem
h4
  font-size: 1.1rem
h5
  font-size: .9rem
h6
  font-size: .8rem

img
  object-fit: cover


input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"]
  padding: 9px 15px
  border: 1px solid lightgrey
  position: relative

input[type="search"]
  min-width: 200px

label
  display: block
  &:after
    content: ''
    display: block
    width: 15px
    height: 15px
    background: url("../img/search.svg") center center no-repeat
    position: absolute
    top: 13px
    right: 10px
    z-index: 1

input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration
  margin-right: 10px

input::placeholder
  color: lightgrey

input:hover,
input:active,
input:focus
  outline: none

.wrap
  width: 100%
  max-width: 1280px
  margin: 0 auto
  padding: 0 5px

.button
  display: block
  width: 100%
  max-width: 230px
  padding: 10px
  border: none
  background: #7395a5
  font-size: 1rem
  font-weight: bold
  text-align: center
  cursor: pointer
  color: white
  transition: box-shadow .2s linear
  &:hover
    box-shadow: 0 0 4px grey
    
@import "_header.sass"
@import "_main.sass"
@import "_footer.sass"