.title-comments,
.write-comment,
.comment
	display: flex

.title-comments
  flex-direction: column

.write-comment
	width: 100%
	margin-bottom: 30px
	justify-content: space-between
	align-self: flex-end

.write-comment
  a,
  p
    color: #7395a5
  p
    margin-top: 15px
  a
    padding: 10px 30px
    display: inline-block
    border: 1px solid #7395a5

.column .comment
	margin-bottom: 20px
	img
		width: 65px
		height: 65px
		margin-right: 15px

.comment-text
	h5
		padding: 8px 0
	span:nth-child(1)
		font-weight: bold
		font-size: .8rem
	span:nth-child(3)
		color: grey
		font-size: .8rem
	p
		padding: 10px 0

.course-entry__form
  width: 100%
  max-width: 300px
  margin: 0 -150px
  position: fixed
  top: 10%
  left: 50%
  box-shadow: 0 0 35px grey

.modal-close
  width: 20px
  height: 20px
  background: url(../img/close.svg)
  position: absolute
  top: 20px
  right: 20px

.course-entry__comment
  label:after
    top: 57

@media screen and (min-width: 480px)
  .course-entry__form
    max-width: 400px
    margin: 0 -200px

@media screen and (min-width: 640px)
  .title-comments
    flex-direction: unset

  .write-comment
    padding-left: 32px

  .course-entry__form
    max-width: 500px
    margin: 0 -250px

@media screen and (min-width: 1024px)
	.column .comment
		margin-bottom: 40px

	.comment-text
		max-width: 320px

